/* css for timepicker */
.ui-timepicker-div {
  .ui-widget-header {
    margin-bottom: 8px;
  }

  dl {
    text-align: left;

    dt {
      float: left;
      clear: left;
      padding: 0 0 0 5px;
    }

    dd {
      margin: 0 10px 10px 40%;
    }
  }

  td {
    font-size: 90%;
  }
}

.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.ui-timepicker-rtl {
  direction: rtl;

  dl {
    text-align: right;
    padding: 0 5px 0 0;

    dt {
      float: right;
      clear: right;
    }

    dd {
      margin: 0 40% 10px 10px;
    }
  }
}
