$white_color: #fff;
$gray_color: #e9edf0;
$primary_color: #00c3aa;
$primary_hover_color: #38b2a2;
$decoration_color: #1798f6;
$decoration_secondary_color: #3ea6f8;
$decoration_control_hover_color: #1976d2;
$block_color: #4b5966;
$secondary_color: #cbff8b;

$overlay_color: #f2f2f2;
$text_color: #4e6275;

$control_text_color: #757575;
$control_icon_font_color: #000;

$control_bg_color: #007cc3;

$button_anchor_text_color: #677481;
$textarea_bg_color: #e0e5ea;
$focused_textarea_bg_color: #27384a;
$focused_textarea_text_color: #44baff;
$option_label_color: #ff7a00;

$context_menu_bg_hover_color: #fbfcfd;
$context_menu_text_color: #4b5965;


$dark_color: #23282d;
$grey_color: #96989a;
$section_bg_color: #efefef;
$module_bg_color: #298ffc;
$button_bg_color: #48c569;
$button_red_bg_color: #e54343;
$button_bg_hover_color: #3ba956;
$section_icon_color: #b4b7ba;

$border-radius-large: 6px;
$border-radius-medium: 4px;
$border-radius-small: 2px;
$border-color: #e5e5e5;

$global_control_bg_color: #97d000;

$section_control_bg_color: #dbffae;
$section_control_bg_color_hover: #3c873c;

$row_bg_color: #ffdfaf;
$row_control_bg_color: #ffe9c7;
$row_control_bg_color_hover: #f9a825;

$module_title_color: #fff;
$module_control_bg_color: #DCE0E4;
$module_control_bg_color_hover: #A2A7AD;

$column_color: #ff9232;
$column_hover_color: #e09a5b;

$fullwidth_bg_color: #d1c4ea;
$fullwidth_control_bg_color: #E9E0FB;
$fullwidth_control_bg_color_hover: #B69FE2;

$specialty_bg_color: #F37B7B;
$specialty_control_bg_color: #F1B8B8;
$specialty_control_bg_color_hover: #E41C1A;

$ui_placeholder_bg_color: rgba(186, 193, 201, 0.5);

$modal_title_bg_color: #42a5f5;
$modal_close_color: #42a5f5;
$modal_close_hover_color: #1976d2;
$modal_shadow_color: rgba(0, 160, 210, 0.2);

$form_control_color: #f1f1f1;
$form_control_secondary_color: #495159;
$form_button_color: #48c569;


/*Style*/
$border-radius: 8px;