#tm_builder_outer_content {

	.tm_pb_blurb {
		.tm_pb_blurb_content {
			word-wrap: break-word;
			max-width: 550px;
			margin: 0 auto;
			position: relative;
			display: flex;
			flex-flow: row nowrap;
			p:last-of-type {
				padding-bottom: 0;
			}
		}

		.tm_pb_main_blurb_image {
			text-align: center;
			a {
				display: inline-block;
			}
		}

		.tm_pb_blurb_container {
		}

		.tm-pb-icon {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: auto;
			margin-right: auto;
			height: 100%;
			&:before{
				vertical-align: middle;
				@include fa-icon();
				content: attr( data-icon );
			}
		}

		.tm-pb-icon-circle {
			width: 100px;
			height: 100px;
			font-size: 30px;
			border-radius: 100px;
		}

		.tm-pb-icon-circle-border {
			border: 3px solid;
		}

		&.tm_pb_blurb_position_left {
			.tm_pb_main_blurb_image {
				margin-right: 20px;
				flex: 0 1 auto;
			}
			.tm_pb_blurb_container {
				flex: 1 1 auto;
			}
		}

		&.tm_pb_blurb_position_top {
			.tm_pb_blurb_content {
				flex-flow: column nowrap;
			}
			.tm_pb_main_blurb_image {
				width: 100%;
				margin-bottom: 30px;
			}
			.tm_pb_blurb_container {
				width: 100%;
			}
		}

		&.tm_pb_blurb_position_right {
			.tm_pb_main_blurb_image {
				flex: 0 1 auto;
				order: 2;
				margin-left: 20px;
			}
			.tm_pb_blurb_container {
				flex: 1 1 auto;
				order: 1;
			}
		}
	}

	.tm_pb_blurb img {
		width: inherit;
	}

	.tm_pb_blurb_container h4 a {
		border-bottom: none;
	}

	.tm_pb_blurb h4 {
		padding-bottom: 5px;
		a {
			text-decoration: none;
		}
	}
}
