#tm_builder_outer_content {

	.tm_pb_button_module_wrapper {
		&.tm_pb_button_alignment_right {
			text-align: right;
		}

		&.tm_pb_button_alignment_center {
			text-align: center;
		}
	}

	.tm_pb_button {
		font-size: 20px;
		line-height: 1.5em;
		padding: 10px 20px;
		position: relative;
		border: 2px solid #117bb8;
		display: inline-block;
		color: #fff;
		background-color: #117bb8;
		transition: all 0.2s;

		&:hover {
			color: #117bb8;
			background-color: rgba(255, 255, 255, 0);
		}

		&:active {
			box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
		}

		.tm_pb_button_icon {
			@include fa-icon();
			font-size: 20px;
			line-height: 1.5em;
			transition: all 0.2s;
		}

		&.tm_pb_icon_right {
			.tm_pb_button_icon {
				margin-left: 10px;
			}
		}

		&.tm_pb_icon_left {
			.tm_pb_button_icon {
				margin-right: 10px;
			}
		}

		&.tm_pb_button_simple_link {

		}
	}
}
