#tm_builder_outer_content {
	ul.tm_pb_member_social_links {
		margin-top: 20px;
	}
	.tm_pb_member_social_links {
		li {
			display: inline-block;
			margin-right: 2px;
		}

		a {
			width: 30px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			display: inline-block;
			font-size: 16px;
			position: relative;
			text-align: center;
			transition: color 300ms ease 0s;
			text-decoration: none;
		}
	}
}